In [1]:
print("hello world");

hello world

In [25]:
a = 56
print(a)

56

 m - markdown 
 y - code
 a- above 
 b - below 
 markdown is used to keep note
 esc - goes outer of the cell
 dd - delete the cell
 enter key - goes to edit 
 shift + enter - run cell and add new cell
 ctrl + enter - run cell
 # this is python

In [27]:
print("hello world")

hello world

### python veriable and literals

## python variable

In [42]:
# if i  have 10 litre water than i will initialize place to hold that water
balti = 5
jug = 2
bottal= 1

In [44]:
balti

5

In [46]:
jug= 30

In [48]:
jug

30

In [56]:
# string assing value to variable  str
str1= 'abc'
str1

'abc'

In [58]:
import random 
def guess(x)
random_number= random

SyntaxError: expected ':' (2672542397.py, line 2)

## literals

In [63]:
# numeric literals
# integer
#floater 
#complex

#string
#boolean
#characters

## type conversion

In [72]:
# implicit - does automatically by python
# explicit = user define

In [74]:
int1 = 23
int2= 3.4
c= int1+ int2
print(c)

26.4

In [78]:
type(int1)
type(int2)
type(c)

float

`# task 2

In [81]:
# str1='abc'

In [89]:
# str2=int(str1)
str1='111'
str1= int(str1)
print(str1)

111

In [91]:
# pratice str to float
str2= '222'
str2= float(str2)
print(str2)

222.0

## input and output

In [98]:
# output 
print("this is our first class")

this is our first class

In [122]:
#input 
a = int(input("enter the numebr:"))
print(a)

enter the numebr: 23

23

In [124]:
print(type(a))

<class 'int'>

In [114]:
#placeholder
name ="sandesh"
surname="shrestha"

In [120]:
print("my name is {} and my surname is {}".format(name,surname))

my name is sandesh and my surname is shrestha

In [140]:
# task 4
name = input("enter yout name:")
roll = int(input("entet your roll no:"))
sem = input("enter simester:")
hight = float(input("enter height:"))
print(f"Name: {name} \nRoll no :{roll} \nSemester;{sem} \nhight:{hight}")

enter yout name: sandesh
entet your roll no: 34
enter simester: first
enter height: 4.6

name sandesh
roll no :34
semester;first
hight:4.6

## Operators

### Arithmetic Operator

In [165]:
# arithmetic operators +,-,*,/,//(floor division),%,**
a=23
b=4.5
print(a+b)

27.5

In [153]:
print(a-b)

18.5

In [155]:
print(a*b)

103.5

In [157]:
print(a/b)

5.111111111111111

In [159]:
print(a//b)

5.0

In [161]:
print(a%b)

0.5

In [163]:
print(a**b)

1342070.2893153548

### Assignment Operater

In [169]:
# =,-=,+=,*=,%=, **=

In [175]:
 num1= 200.9

In [177]:
num1 += 100
print(num1)

300.9

In [179]:
num1 -= 100
print(num1)

200.89999999999998

In [181]:
num1 *= 100
print(num1)

20089.999999999996

In [183]:
num1 %= 100
print(num1)

89.99999999999636

In [185]:
num1 /= 100
print(num1)

0.8999999999999636

In [191]:
num1= 10
num1 **= 2
print(num1)

100

### comparison operator

In [194]:
# <,>,<=,>=,!= Boolean value

In [196]:
a=2
b = 2.4
print(a== int(b))

True

In [202]:
b1= 'abc'
a1= 'ABC'
a1==b1

False

In [204]:
a1 != b1

True

In [206]:
a<b

True

In [208]:
a>b

False

In [216]:
a= int(input("enter a number"))
b= int(input("enter another number"))
if a>b:
    print("the greater number a is",a)
else:
    print("the greater number b is ",b)

enter a number 2
enter another number 12

the greater number is 12

In [218]:
a=1
b=2
c=3
d=4
(a<b) and (c<d)

True

In [220]:
(a>b) and (c<d)

False

In [222]:
(a>b) and (c>d)

False

In [224]:
(a>b) or (c<d)

True

In [226]:
(a>b) or (c>d)

False

In [228]:
#bitwise operator 
# &- bitwise And 
# !- "         OR
# ~-  "       NOT
# ^  "          xor
# >>    "        RIGHT SHIFT
# << --  "       LEFT SHIFT

In [230]:
#IDENTITY OPERATOR - IS NOT  IS 
# MEMBERSHIP OPERATOR, IN NOT IN

In [232]:
#IDENTITY OPERATOR - IS NOT  IS 
a= 3
b= 3
a is b

True

In [234]:
a= 3
b= 3
a is  not  b

False

In [236]:
# list for in and not in 
l1 = [1,2,3,4,5,6,7,8]
1 in l1

True

In [1]:
#pass 
for i in range(1,10):
    pass

In [3]:
#data types 
#number data types
#int , float , complex
i = 10 
type(i)

int

In [5]:
i = 3.4
type(i)

float

In [13]:
k = 2+3j
type(k)

complex

In [15]:
#binary 
# octal #hexa dec

In [17]:
import random

In [19]:
number = random.randrange(1,20)
print(number)

12

In [23]:
student = ['Ram','shyam', 'hari', 'Gopal']
random.choice(student)

'shyam'

## MATH

In [28]:
import math
print(math.pi)

3.141592653589793

In [30]:
print(math.sin(30))

-0.9880316240928618

## LIST

In [33]:
# creat a list in python
#list = [] mutable
# dictornary/ set = {}
# tuples = (1,)

In [53]:
# creat a list in python
li = [ 1,2.3,'abc', 4+6j]
# empty list 
li1 =[]
# lsit inside a list 
l3 = [1,2.3,'abc',2+7j,[1,2,3]]

In [39]:
# ordered 
# mutable 
# allow duplication

In [41]:
# theory - What is mutable and immutable data types in python , list them.

In [43]:
#access element in list 
#by index value 
l3[2]

'abc'

In [55]:
l3[4][2]

3

In [57]:
li1 = ['a','b','c','d','e','f','g','h']
li1[::-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [67]:
li2= ['a','b','c','d','e','f','g','h']
li2.append('apple')
li2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'apple']

In [83]:
l3 = [1,2.3,'abc',2+7j,[1,2,3]]
l3.extend(l3)
l3

[1, 2.3, 'abc', (2+7j), [1, 2, 3], 1, 2.3, 'abc', (2+7j), [1, 2, 3]]

In [87]:
#deleate element
li1 = ['a','b','c','d','e','f','g','h']
li1.remove('a')
li1

['b', 'c', 'd', 'e', 'f', 'g', 'h']

In [89]:
del li1[0]
li1

['c', 'd', 'e', 'f', 'g', 'h']

In [97]:
#no of elament 
len(li1)

6

In [101]:
# Task 1 
lis1= ['apple','ball','cat','dog']
for i, value in enumerate(lis1):
    print(i,":", value)

0 : apple
1 : ball
2 : cat
3 : dog

## Tuple

In [104]:
# tuple= ()
t1 = (1,1,2,3,4,6)
t1

(1, 1, 2, 3, 4, 6)

In [106]:
type(t1)

tuple

In [108]:
# ordered
#immutable 
#allow duplicaation

In [114]:
t2 =(1,)
type(t2)

tuple

In [116]:
len(t2)

1

## string

In [120]:
str1= "my Name is sandesh"
type(str1)

str

In [126]:
str1[1:3]

'y '

In [130]:
str1.split()

['my', 'Name', 'is', 'sandesh']

In [132]:
str1= 'ABC'
str2= 'abc'
str1== str2.upper()

True

In [136]:
str1 += str2
str1

'ABCabcabc'

In [140]:
for char in str1:
    print(char)

A
B
C
a
b
c
a
b
c

In [142]:
#membership 
str2="this is python"
'this' in str2

True

In [144]:
#escape character 
str2 = "you\'re beautiful"
str2

"you're beautiful"

In [146]:
# fstring 
name ="sandesh"
age = 19
print(f"My name is {name} and age is {age}")

My name is sandesh and age is 19

## Set

In [169]:
# unique -(no duplicates)
#unorder
# define a set
set1= {2,1,3,4,5,5}
set1

{1, 2, 3, 4, 5}

In [167]:
#creat a empty set
s1=set()
type(s1)

set

In [155]:
# support set opperation like union, intersection, difference

In [157]:
# add()
s1. add(10)
s1

{10}

In [177]:
#creat to set and proforme union interaction and difference ,symmetric different is subset
setA= {2,4,6,8}
setB= {1,3,5,2,7}
print(setA.union(setB))

{1, 2, 3, 4, 5, 6, 7, 8}

In [179]:
print(setA|setB)

{1, 2, 3, 4, 5, 6, 7, 8}

In [181]:
print(setA.intersection(setB))

{2}

In [189]:
setA.difference(setB)

{4, 6, 8}

In [191]:
setA.symmetric_difference(setB)

{1, 3, 4, 5, 6, 7, 8}

In [197]:
setA.issubset(setB)

False

## Dictionary

In [202]:
#key : value pait 
#creating dictonary
studen= {
    'name': 'Alex',
    'Age' : 23,
    'Address':'KTM',
    'height': 4.5
}

In [206]:
studen

{'name': 'Alex', 'Age': 23, 'Address': 'KTM', 'height': 4.5}

In [208]:
type(studen)

dict

In [212]:
studen['name']

'Alex'

In [216]:
#add items to dictonary
studen ['Weight']=45
studen

{'name': 'Alex', 'Age': 23, 'Address': 'KTM', 'height': 4.5, 'Weight': 45}

In [220]:
#remove
del studen ['height']
studen

{'name': 'Alex', 'Age': 23, 'Address': 'KTM', 'Weight': 45}

In [226]:
#iterate1
for  data in studen:
    print(data)

name
Age
Address
Weight

In [230]:
#iterate2
for  data in studen:
    print(studen[data])

Alex
23
KTM
45

In [234]:
#iterate3
for data in studen:
    print(data,":",studen[data])

name : Alex
Age : 23
Address : KTM
Weight : 45

In [236]:
len(studen)

4

In [240]:
studen.values()

dict_values(['Alex', 23, 'KTM', 45])

In [244]:
studen.keys()

dict_keys(['name', 'Age', 'Address', 'Weight'])

In [248]:
student={
    'name':['rame','shyam','hari'],
    'age': [2,3,5]
        
}

student

{'name': ['rame', 'shyam', 'hari'], 'age': [2, 3, 5]}

In [250]:
student['name'][1]

'shyam'

In [297]:
# WAP that creat a dic with the following key value pairs
fruits={
    'apple':3,
    'banana':5,
    'orange':2
}
fruits

{'apple': 3, 'banana': 5, 'orange': 2}

In [299]:
fruits['grape']=4
fruits

{'apple': 3, 'banana': 5, 'orange': 2, 'grape': 4}

In [301]:
fruits.update({'banana':6})
fruits

{'apple': 3, 'banana': 6, 'orange': 2, 'grape': 4}

In [303]:
del fruits['orange']
fruits

{'apple': 3, 'banana': 6, 'grape': 4}

## funcrion

In [313]:
#create a function to add two number
def add_(a,b):
    return a+b

print(add_(10,5))

15

In [1]:
# *args and **kwargs
def add_(*args):
    print(sum(args))
add_(2,3,3)

8

In [5]:
#**kwargs
def a(**kwargs):
    print(kwargs)
    for key , value in kwargs.items():
        print(key,":",value)
a(c=1,d=3)

{'c': 1, 'd': 3}
c : 1
d : 3

In [7]:
#keyword argument , value argument 
def max_(a,b):
    if a>b:
        print(a)
    else: 
        print(b)
max_(b=4,a=2)

4

In [33]:
#creat a python function that takes multipal argument and count the no argument that are >5
def count(*args):
    count= 0
    for i in args:
        if i > 5:
            count +=1
            list4.append(i)
    return count
list4= []
print(count(2,4,6,8,10,12,15))
print(list4)

5
[6, 8, 10, 12, 15]

In [35]:
#variable scope
# global 
# local 
# non locoal

In [65]:
# recrusive function - factorial example
def fact(x):
    if x ==1:
        return 1
    else: 
        return (x*fact(x-1))
f = fact(10)

In [67]:
f

3628800

In [69]:
# imporet model
import math as m
m.pi

3.141592653589793

In [71]:
from math import pi
pi

3.141592653589793

In [75]:
# main function in python 
def main():
    print("this is main function")
if __name__ == '__main__':
    main()

this is main function

## File Hendalling

In [84]:
import os
if os.path.exists('file1.txt'):
    print('File exists')
else:
    print('No file exists')

File exists

In [88]:
os.getcwd()

'/home/anish/Desktop/python/Untitled Folder/python class'

In [90]:
os.listdir()

['Untitled2.ipynb', '.ipynb_checkpoints', 'Untitled.ipynb', 'file1.txt']

In [ ]:
# file = open(filename.ext,mode)
with open('file1.txt', 'r') as file:
    content=file.read()
    print(content)

In [ ]:
file = open('file1.txt','r')

In [ ]:
file

In [ ]:
file.read()

In [102]:
# mode  
# 'r'= read only = file shoule be exist
# 'w' = write = open file for writing if does not exist crest new file
# 'x' = create a new file for writing if already exist -fail
# 'a' = append  -open file for appinding, if does not exist creat new file 
# 'b'= binary mode
# '+'= r+,w+

In [104]:
with open('file1.txt','w') as file:
    file.write('this is my file')

In [110]:
with open('file1.txt','a') as file:
    file.write('\nthis is second line')

In [112]:
with open('file1.txt','w') as file:
    file.write('hi i am sandesh')

In [114]:
file.close()

In [145]:
#Task 4 open a  new file if doesno exist if doesnot exit , creat a new file and write 'this is a notebook'
# Then append 'task 1- learn python'
if os.path.exists('file2.txt'):
    with open('file2.txt','r') as file:
        contant= file.read()
        print(contant)          
else:
    with open('file2.txt','w') as file:
        file.write('this is a notebook')
        
with open('file2.txt','a') as file:
    file.write('\ntask 1- learn python')

task 1- learn pythontask 1- learn pythontask 1- learn pythontask 1- learn pythontask 1- learn python

## Exception Hendaling

In [148]:
try: 
    pass
except ExceptionType:
    pass

In [152]:
#division program
num1 = int(input("enter a number"))
num2 = int(input("enter second number"))
print(num1/num2)

enter a number 2
enter second number 0

ZeroDivisionError: division by zero

In [160]:
try:
    num1 = int(input("enter a number"))
    num2 = int(input("enter second number"))
    print(num1/num2)
except ZeroDivisionError:
    print("second number is zero")
except ValueError:
    print("Invalid Number")

enter a number 2
enter second number 4

0.5

In [164]:
try:
    num1 = int(input("enter a number"))
    num2 = int(input("enter second number"))
    print(num1/num2)
except Exception as e:
    print(f"The exception is {e}")

enter a number 2
enter second number

The exception is invalid literal for int() with base 10: ''

In [166]:
try: 
    pass
except:
    pass
finally:
    pass

In [ ]:
# Write a python program that open a file and hendall a file notfound exception if the fule does not exit.
try:
    with open('file4.txt', 'r') as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print('No file available')

## Class

In [2]:
#define the class 
class MyClass:
    pass

In [6]:
#create a object of a class 
myclass =  MyClass()

In [8]:
myclass

In [10]:
#student class 
#attendence methord
#some class attributes and objects

In [32]:
class Student:
    name= ''
    status = ''
    class_id= 'II'
    def attendance(self):
        print(f"{self.name} of {self.class_id} is {self.status}")


# create a object of class student 
stu1=Student()
stu1.name ="sandesh"
stu1.status = "present"
stu1.class_id

'II'

In [34]:
stu1.attendance()

sandesh of II is present

In [44]:
#task 1: create a class tha calculate the area of rectangular object
class Rectangular:
    def __init__(self, length, breath):
        self.length= length
        self.breath = breath
    def calculate_area(self):
        print(f'Area of  rectangular object is {self.length* self.breath}')
#object
r1=Rectangular(4,5)

In [50]:
r1.calculate_area()

Area of  rectangular object is 20

In [52]:
# inheritence is class
class flower():
    name=''
    def smell(self):
        print('I smell wonder')
class Rose(flower):
    def get_name(self):
        print(f'flower name is {self.name}')

white_rose = Rose()

In [54]:
white_rose.name= 'White Rose'

In [56]:
white_rose.smell()

I smell wonder

In [58]:
white_rose.get_name()

flower name is White Rose

In [60]:
# method  overriding

In [62]:
class flower():
    name=''
    def smell(self):
        print('I smell wonder')
class Rose(flower):
    def get_name(self):
        print(f'flower name is {self.name}')
    def smell(self):
        print('I smell nice')

white_rose = Rose()

In [64]:
white_rose.name= 'White Rose'

In [68]:
white_rose.smell()

I smell nice

In [72]:
white_rose.get_name()

flower name is White Rose

In [76]:
class flower():
    name=''
    def smell(self):
        print('I smell wonder')
class Rose(flower):
    def get_name(self):
        print(f'flower name is {self.name}')
    def smell(self):
        super().smell() #calling parent class function 
        print('I smell nice')

white_rose = Rose()

In [78]:
white_rose.name= 'White Rose'

In [80]:
white_rose.smell()

I smell wonder
I smell nice

##  list comprehensions

In [83]:
# conclse methord to create a list 
#[expresion for item in iterable]

In [93]:
#creat a list of seuare number 1-5
sq_num= [i**2 for i in range(1,6)]
sq_num

[1, 4, 9, 16, 25]

In [99]:
# list with filter 
# only get the  enen square for range (1,9)
even_num=[num**2 for num in range(1,10) if num**2 % 2 == 0]
even_num

[4, 16, 36, 64]

In [103]:
# convert to upper case 
name = ['intaj','ram', 'shyam', 'hari']
name1 = [i.upper()for i in name]
name1

['INTAJ', 'RAM', 'SHYAM', 'HARI']

In [105]:
#creat a dis of sq number 1-5
d1 = {i**2 for i in range(1,6)}
d1

{1, 4, 9, 16, 25}

## Lambda function

In [108]:
# lambda : statement 
x = lambda : print('this is lambda function')

In [110]:
x()

this is lambda function

In [130]:
x= lambda x:print(x**2)

In [132]:
x(4)

16

## Filter()

In [139]:
def is_even(num):
    return num%2 == 0
number = [2,3,12,4,6,7,74,3,56,6,8]
even_num = filter(is_even,number)
list(even_num)

[2, 12, 4, 6, 74, 56, 6, 8]

In [143]:
#for above function use lamda with filter 
even_num=filter(lambda num: num%2 ==0 , number)
list(even_num)

[2, 12, 4, 6, 74, 56, 6, 8]

## Map

In [146]:
#map (map_fun , interable)

In [150]:
def to_up(name):
    return name.upper()
name = ['intaj','ram', 'shyam', 'hari']
m1 = map(to_up, name)
list(m1)

['INTAJ', 'RAM', 'SHYAM', 'HARI']